#main {
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0;

}

#app {
    width: 100%;
    height: 100%;
}




.line-container {
  width: 1px;
  height: 20px;
  position: relative;
  margin-bottom: 100px;

}
.line {
  position: absolute;
  width: 2px;
  height: 0px;
  background-color: transparent;
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.line::before {
  content: ' ';
  width: 16px;
  height: 16px;
  border-right: 3px solid rgb(150, 200, 150);
  border-bottom: 3px solid rgb(150, 200, 150);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal; 
}
@keyframes line-animation {
  0% {height: 0px; top: 0px; opacity: 0;}
  50% {height: 20px; top: 0px; opacity: 1;}
  100% {height: 0px; top: 20px; opacity: 0;}
}

@keyframes arrow-animation {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}



