<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bugout</title>

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">

    <script>
        var static_url = "{% get_static_prefix %}";
    </script>


    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
</head>

<body>
    <div id="main">
        <div id="app"></div>
    </div>

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1d8bc9d59ad04b8a94c3a7b6de38a329"}'></script><!-- End Cloudflare Web Analytics -->
    <script src="{% static "frontend/main.js" %}"></script>
</body>

</html>